 /* .banner{

    h1 {
        font-size: 18px;
        color: red;
    }

    p {
        font-size: 14px;
        color: green;
    }

    a { 
        font-size: 14px;
        color: aqua;
        text-decoration: none;
    }
}
.link{
    text-decoration: none;
    color: yellow;

    &:hover{
        color: red;
    }

    &:focus{
        color: black;
    }

}
$color-h1: rgb(46, 30, 30);
$color-p: #fff;

header{

    h1{
        color: $color-h1;
    }
}
%text-style-h1{
    font-family: montserrat;
    font-weight: 500;
    color: red;

}
%text-style-p{
    font-family: 'open sans';
    font-weight: 400;
    color: green;
}
header{

    h1{
        @extend %text-style-h1
    }

    p{
        @extend %text-style-p
    }
}
desc {

    h1{
        font-family: montserrat;
        font-weight: 500;
        color: red;
    }

    p{
        font-family: 'open sans';
        font-weight: 400;
        color: green;
    }
}*/ 
$color-button: #FCB427;
$font-family-sans:'PT Sans';
$font-family-montserrat:'Montserrat';
$font-family-roboto:'Roboto';
@mixin font($font-family,$font-wieght,$font-size,$line-height) {
    font-family: $font-family sans-serif;
    font-weight: $font-wieght;
    font-size: $font-size;
    line-height: $line-height;
}


%text-style-h1{
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 44px;
    line-height: 141.69%;
}
%text-style-p{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 156.69%;
}
%text-style-h2{
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 33px;
    line-height: 142.19%;
}
%text-style-span{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 156.69%;
}
body{
    background-color: #E5E5E5;
}
.wrapper{
    max-width: 1170px;
    margin: 0 auto;
  }
  .header{
    background-color: #2D2D2D;

    &__block-info{
        display: flex;
    }

    &__logo{
        display: flex;
    }
    &__logo-link{
        padding-right: 25px;
    }
    &__container-rent{
        display: flex;
        align-items: center;
        max-width: 167px;
    }
    &__rent{
        @include font($font-family-montserrat,400,14px,142.19%);
        color: white;
    }
    &__container-time{
        display: flex;
        align-items: center;
        background: url(../images/time.png) no-repeat left center;
        background-size: 20px;
        margin-left: 80px;
        padding-left: 31px;
    }
    &__time{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 142.19%;
        color: #FFFFFF;
    }
    &__container-location{
        display: flex;
        align-items: center;
        background: url(../images/location.png) no-repeat left center;
        background-size: 20px;
        margin-left: 20px;
        padding-left: 34px;
        max-width: 144px;
    }
    &__location{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 142.19%;
        color: #FFFFFF;
    }
    &__container-button{
        display: flex;
        align-items: center;
        padding-left: 44px;
    }
    &__button{
        font-family: 'PT Sans', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 141.69%;
        width: 205px;
        height: 43px;
        background-color: transparent;
        border: 1px solid #FFBF1D;
        color: #FFFFFF;

        
    }
    &__button:hover,&__button:active,&__button:focus{
        background: #787367;;
    }
    
    &__container-telephone{
        display: flex;
        align-items: center;
        background: url(../images/telephone.png) no-repeat left center;
        background-size: 20px;
        margin-left: 30px;
        padding-left: 33px;
    }
    &__telephone{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 156.69%;
        max-width: 148px;
        color: #FFFFFF;
    }
    &__block-list{
        background-color: #F3F3F3;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        margin: 25px 0;
        padding: 0;
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item{
        margin-right: 30px;
        list-style-type: none;
      }
      &__item:first-child{
        padding-left: 0;
      }
      &__link{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 156.69%;
        color: #000000;
        text-decoration: none;
      }
      &__link:hover, &__link:focus, &__link:active{
        opacity: .55;
      }

  }


  .banner{
    position: relative;
    background: url(../images/rent.png) no-repeat ;
    margin-bottom: 75px;
    z-index: -1;

    &__title{
        font-family: 'PT Sans', sans-serif;
        font-weight: 700;
        font-size: 44px;
        line-height: 141.69%;
        color: #2D2D2D;
        width: 554px;
        padding: 128px 0 30px 0;
        margin: 0;
      }

      &__subtitle{
        font-family: 'Montserrat', sans-serif;
        width: 435px;
        font-weight: 400;
        font-size: 16px;
        line-height: 156.69%;
        color: #2D2D2D;
      }

      &__container-button-left{
        width: 219px;
        height: 50px;
        background: $color-button;
        border: 0;
        font-family: 'PT Sans', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 141.69%;
        color: #FFFFFF;
        margin-right: 28px;
      }
    
      &__container-button-right{
        width: 219px;
        height: 50px;
        background-color: transparent;
        border: 1px solid #2D2D2D;
        font-family: 'PT Sans', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 141.69%;
        color: #2D2D2D;
        margin: 30px 0 163px 0;
      }


      &__container-left{
        position: absolute;
        left: 0;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(2px);
        z-index: -1;
        width: 50%;
        height: 95%;
        min-width: 600px
      }
  }
  

    .technique{
        max-height: 565px;
        background-color: #FFFFFF;
        background-image: url(../images/liebherr.png);
        background-repeat: no-repeat;
        background-position: right;
        background-position-y: 127px;

        &__info{
            display: flex;
        }

        &__title{
            margin: 51px 0 55px;
            font-family: 'PT Sans', sans-serif;
            font-weight: 700;
            font-size: 40px;
            line-height: 141.69%;
        }

        &__cranes{
            margin-top: 140px;
            
        }

        &__cranes-title{
            margin-bottom: 32px;
            font-family: 'PT Sans', sans-serif;
            font-weight: 700;
            font-size: 33px;
            line-height: 142.19%;
        }

        &__subtitle{
            margin-bottom: 32px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 156.69%;
        }


        &__button {
            font-family: 'PT Sans', sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 141.69%;
            width: 219px;
            height: 50px;
            background: #FCB427;
            color: #FFFFFF;
            border: 0;
        }
        
        
        &:hover, &:focus, &:active {
            background-color: #867552;
        }
    
    }
    
       
    .reliability{
        margin-bottom: 50px;

        &__container-info{
            display: flex;
        }

        &__title{
            margin-top: 160px;
            font-family: 'PT Sans', sans-serif;
            font-weight: 700;
            font-size: 40px;
            line-height: 141.69%;
    
        }

        &__info{
            max-width: 465px;
            margin-bottom: 35px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 156.69%;
        }

        &__container-left{
            display: flex;
            flex-direction: column;
    
        } 

        &__button{
            width: 219px;
            height: 50px;
            background: #FCB427;
            font-family: 'PT Sans', sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 141.69%;
            color: #FFFFFF;
            border: 0;
        }

        &__container-right{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 100px;
            margin-top: 225px;
            margin-left: 160px;
        }

        &__container-icon{
            max-width: 159px;
            max-height: 50px;
    
        }

        &__container-icon span{
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 142.19%;
    
        }
    }
   

    .project{
        min-height: 300px;
        position: relative;
        background-color: #2D2D2D;
        margin-bottom: 120px;

        &__info{
            display: flex;
            justify-content: space-evenly;
            margin-top: 50px;
        }

        &__contaienr-left img{
            max-width: 92px;
            margin-bottom: 15px;
        }

        &__contaienr-left{
            display: flex;
            align-items: center;
            align-self: end;
        }

        &__contaienr-left{
            display: flex;
            flex-direction: column;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 142.19%;
            color: #FFFFFF;
        }

        &__container-center img{
            max-width: 238px;
            margin-bottom: 15px;
        }

        &__container-center {
            display: flex;
            flex-direction: column;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 142.19%;
            color: #FFFFFF;
        }

        &__container-right img{
            align-self: center;
            max-width: 127px;
            margin-bottom: 15px;
        }

        &__container-right{
            display: flex;
            flex-direction: column;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 142.19%;
            color: #FFFFFF;
        }

        &__bottom-line img{
        
            position: absolute;
            bottom: 0;
        }
    
    }

    .mounting{
        background-color:#FFFFFF;
        background-image: url(../images/eurocran.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        
        &__project-title{
            font-family: 'PT Sans';
            font-weight: 700;
            font-size: 40px;
            line-height: 141.69%;
            padding: 50px 0 60px;
        }

        &__project{
            display: flex;
            justify-content: space-around;
            border-bottom: 3px;
            color: #787367;
        }

        &__container-left__info{
            display: flex;
            margin-top: 108px;
            padding-bottom: 50px;
        }
        &__container-left{
            margin-right: 40px;
        
        }
        &__title{
            width: 544px;
            font-family: 'Montserrat';
            font-weight: 700; 
            font-size: 25px;
            line-height: 142.19%;
            margin-bottom: 30px;
        }
        &__location{
            width: 435.99px;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 15px;
            line-height: 142.19%;
            margin-bottom: 30px;
        }
        &__subtitle{
            width: 561px;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 16px;
            line-height: 156.69%;
            margin-bottom: 30px;
        }
        &__more{
            padding-right: 50px;
            background: url(../images/arrow-right-icon.png) no-repeat 95% center;
            font-family: 'PT Sans';
            font-weight: 700;
            font-size: 18px;
            line-height: 141.69%;
            color: #2D2D2D;
            text-decoration: none;
            margin-bottom: 30px;

        }


    }
    .catalog{

        padding-bottom: 120px;

        &__container-cards{
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }

        &__info{
            width: 370px;
            background: #FFFFFF;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
            padding-bottom: 23px;
 
        }

        &__title{
            font-family: 'PT Sans';
            font-weight: 700;
            font-size: 40px;
            line-height: 141.69%;
            margin: 120px 0 83px;
        }

        &__container{
            display: flex;
            flex-direction: column;
            margin-left: 30px;
        }

        &__subtitle{
            width: 292px;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 25px;
            line-height: 142.19%;
            margin-bottom: 30px;
        }

        &__cargo{
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 16px;
            line-height: 156.69%;
            color: #2D2D2D;
            margin-bottom: 6px;

        }

        &__length{
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 16px;
            line-height: 156.69%;
            color: #2D2D2D;
            margin-bottom: 5px;
        }

        &__characteristic{
            background: url(../images/arrow-right-icon.png) no-repeat 55% center;
            font-family: 'PT Sans';
            font-weight: 700;
            font-size: 18px;
            line-height: 141.69%;
            color: #2D2D2D;
            text-decoration: none;
            margin-bottom: 22px;
        }
        &__button{

            width: 311px;
            height: 50px;
            background: #FCB427;
            border: 0;
            font-family: 'PT Sans';
            font-weight: 700;
            font-size: 18px;
            line-height: 141.69%;
            color: #FFFFFF;
        }

        &__container-button{
            display: flex;
            justify-content: center;
        }

        &__button-transition{
            width: 200px;
            height: 50px;
            border: 1px solid #FCB427;
            font-family: 'PT Sans';
            font-weight: 700;
            font-size: 18px;
            line-height: 141.69%; 
        }


    }


    
    
    
   
    
   
   
   

    
    
    
   